body {
	margin: 0;
	padding: 0;
	
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

main p {
	color: #333333;
}

/* ===== HEADER ===== */
.main-header {
	min-height: 200px; /* === 6 === */
	margin-bottom: 100px; /* === 6 === */
}

.main-header-logo {
	display: inline-block;
	width: 138px; /* === 6 === */
	height: 70px; /* === 6 === */
}

.main-header-logo img {
	vertical-align: middle;
}

.main-navigation {
	font-weight: bold;
	line-height: 26px;
	color: #000000;
	
	background-color: #ffffff;
	
	width: 1200px; /* === 6 === */
	min-height: 150px; /* === 6 === */
	
	display: flex; /* === 6 === */
}

.site-navigation {
	min-height: 56px; /* === 6 === */
	width: 100%; /* === 6 === */
	display: flex; /* === 6 === */
	justify-content: space-between;
}

.site-navigation, .main-navigation {
	list-style: none;
}

.site-navigation a, .main-navigation a {
	color: #000000;
}

.site-navigation a:hover, .main-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus, .main-navigation a:focus {
	color: #cacaca;
}

.intro-logo {
	min-height: 564px;
	background-image: url("../img/background-all.jpg");
	background-repeat: no-repeat;
	background-color: #ffffff;
}

/* ===== MAIN = Index ===== */
/*
.features {
	display: flex;
}
*/

.features-top {
	display: flex; /* === 6 === */
}

.features-bottom {
	display: flex; /* === 6 === */
}

.feature-item p {
	color: #ffffff;
}

.benefits-top-list, .benefits-bottom-list {
	list-style: none;
	display: flex; /* === 6 === */
}

.title-2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	color: #000000;
}

.title-3 {
	font-size: 21px;
	font-weight: bold;
	line-height: 21px; /* ===== Кое-где 26px ===== */
	color: #000000;
	text-align: center;
}

.feature-item {
	color: #ffffff;
	background-color: #81b3d2;
	
	min-height: 256px; /* === 6 === */
	width: 400px; /* === 6 === */
}

.feature-item h3 {
	color: #ffffff;
}

.benefits-top {
	background-color: #ffffff;
}

.benefit-top-item {
	min-height: 330px; /* === 6 === */
	width: 400px; /* === 6 === */
}

.benefit-bottom-item {
	background-color: #eeeeee;
	min-height: 256px; /* === 6 === */
	width: 400px; /* === 6 === */
}

.interesting p {
	line-height: 24px;
}

.hotel-search h3 {
	background-color: #766357;
	color: #ffffff;
}

.hotel-search {
	font-weight: bold;
	line-height: 26px;
}

.btn {
	font: inherit;
	color: #a9a9a9;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

.results-main .button {
	font-weight: bold;
	color: #ffffff;
}

.results-main .buy {
	background-color: #81b3d2;
}

.results-main .buy:hover {
	background-color: #669ec0;
}

.results-main .buy:active {
	color: #88b6d1;
	background-color: #5496bd;
}

.results-main .more {
	background-color: #766357;
}

.results-main .more:hover {
	background-color: #604e43;
}

.results-main .more:active {
	color: #857871;
	background-color: #503e33;
}

.btn.show {
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #ffffff;
}

.btn.show:active, .btn.show:hover {
	color: #000000;
	background-color: #ffffff;
}

.hotel-search .search {
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
}

.hotel-search .search:hover {
	background-color: #669ec0;
}

.hotel-search .search:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.hotel-search .title-3:hover {
	background-color: #604e43;
} /* ===== Это кнопка что ли? ===== */

.hotel-search .title-3:active {
	background-color: #503e33;
	color: #857871;
} /* ===== Это кнопка что ли? ===== */

.date input {
	background-color: #f2f2f2;
}

.date input[type="text"] {
	height: 38px;
	border: none;
}

.date input::placeholder {
	color: #000000;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
}

.date input:hover {
	background-color: #ebebeb;
}

.date input:focus {
	background-color: #ffffff;
}

.date p {
	color: #000000;
}

.number .adults, .number .children {
	font: inherit;
}

.number button {
	color: #a9a9a9;
}

/* ===== MAIN = Hotels ===== */
.filters {
	background-color: #e3f0f9;
	background-image: url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
}

.filters li {
	list-style: none;
}

.filters legend {
	font-size: 16px;
	font-weight: bold;
}

.results-header li {
	list-style: none;
}

.results-sort-variants button {
	color: #b1b1b1;
	border-bottom: 1px dotted #81b3d2;
}

.results-sort-variants .pushed {
	border: none;
	color: #81b3d2;
}

.results-header .results-number {
	font-size: 21px;
	font-weight: bold;
}

.results-header .results-sort {
	font-size: 12px;
	line-height: 18px;
}

.results-header button {
	font-size: 12px;
	line-height: 18px;
}

.results-main li {
	list-style: none;
}

.site-navigation .site-navigation-current a {
	color: #766357;
}

/* ===== FOOTER ===== */
.main-footer {
	display: flex; /* === 6 === */
}

.footer-social {
	list-style: none;
	display: flex; /* === 6 === */
}

.footer-social li {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
}

.footer-social li:hover {
	background-color: #669ec0;
}

.footer-social li:active {
	background-color: #5496bd;
} /* ===== И цвет самой иконки меняется. Как? Opacity? ===== */