body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	/*height: auto;*/  /* Нужно ли это оставить? */
}

.title-2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	color: #000000;
}

.title-3 {
	font-size: 21px;
	font-weight: bold;
	line-height: 21px; /* ===== Кое-где 26px ===== */
	color: #000000;
	text-align: center;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ===== HEADER ===== */
.main-header {
	position: relative;
}

.inner-header {

}

.main-header-logo {
	width: 138px;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%);
}

.main-header-logo img {
	vertical-align: middle;
}

.sedona-title {
	width: 636px;
	padding: 0 30px;
	margin: 0 auto;
}

.sedona-title .title-3 {
	line-height: 26px;
}

.five-reasons {
	width: 500px;
	margin: 0 auto;
	margin-top: 28px;
	color: #333333;
}

.main-navigation {
	height: 57px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation {
	margin: 0;
	padding: 14px 72px;
	display: flex;
	justify-content: space-between;
    line-height: 26px;
}

.site-navigation li {
	width: 25%;
}

.site-navigation li:first-child {
}

.site-navigation li:nth-child(2) {
	
}

.site-navigation li:nth-child(3) {
	text-align: right;
}

.site-navigation li:last-child {
	text-align: right;
}

.site-navigation, .main-navigation {
	list-style: none;
}

.site-navigation a, .main-navigation a {
	color: #000000;
	vertical-align: middle;
}

.site-navigation a:hover, .main-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus, .main-navigation a:focus {
	color: #cacaca;
}

.header-wrapper {
	padding-top: 46px;
	padding-bottom: 50px;
}

.intro-logo {
	min-height: 508px;
	background-image: url("../img/background-all.jpg");
	background-repeat: no-repeat;
	background-color: #81b3d2;
}

/* ===== MAIN = Index ===== */
/*
.features {
	display: flex;
}
*/

.features img {
	vertical-align: middle;
}

.features-top {
	display: flex;
}

.features-bottom {
	display: flex;
}

.feature-item p {
	color: #ffffff;
}

.feature-item {
	color: #ffffff;
	background-color: #81b3d2;
	
	width: 400px;
	min-height: 256px;
	text-align: center;
	padding: 40px 30px;
}

.features-bottom .feature-pic {
	order: -1;
}

.feature-item h3 {
	color: #ffffff;
}

.benefits-top, .benefits-bottom {
	display: flex;
	width: 1200px;
	background-color: #ffffff;
}

.benefit-top-item, .benefit-bottom-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 330px;
	width: 400px; 
}

.benefit-top-item h3 {
	margin-top: 26px;
	margin-bottom: 10px;
}

.benefit-bottom-item {
	background-color: #eeeeee;
	min-height: 256px;
}

.benefit-bottom-item h3 {
	margin-top: 0px;
}

.benefit-bottom-item .p-number {
	margin-top: 2px;
	margin-bottom: 6px;
}

.interesting {
	width: 1200px;
	text-align: center;
}

.interesting p {
	line-height: 24px;
	margin-bottom: 48px;
}

.interesting h2 {
	padding-top: 28px;
}

.hotel-search h3 {
	background-color: #766357;
	color: #ffffff;
}

.hotel-search-btn {
	width: 568px;
	min-height: 86px;
	background-color: #766357;
    color: #ffffff;
	font: inherit;
	font-size: 21px;
    font-weight: bold;
	text-transform: uppercase;
    line-height: 48px;
    text-align: center;
}

.hotel-search {
	font-weight: bold;
	line-height: 26px;
	position: relative;
}

.btn {
	font: inherit;
	color: #a9a9a9;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

.results-main .button {
	font-weight: bold;
	color: #ffffff;
}

.results-main .buy {
	padding: 3px 15px;
	vertical-align: middle;
	text-align: center;
	background-color: #81b3d2;
}

.results-main .buy:hover {
	background-color: #669ec0;
}

.results-main .buy:active {
	color: #88b6d1;
	background-color: #5496bd;
}

.results-main .more {
	padding: 3px 15px;
	vertical-align: middle;
	text-align: center;
	background-color: #766357;
}

.results-main .more:hover {
	background-color: #604e43;
}

.results-main .more:active {
	color: #857871;
	background-color: #503e33;
}

.filter-range {
	width: 330px;
}

.filter-range-title {
	margin-bottom: 9px;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price, .price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	font: inherit;
	color: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
	background-color: #1c4f80;
}

.range-toggle-min {
	left: 0px;
}

.range-toggle-max {
	left: 80%;
}

.btn.show {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 6px 35px;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn.show:active, .btn.show:hover {
	color: #000000;
	background-color: #ffffff;
}

.hotel-search .search {
	width: 456px;
	padding: 15px 50px;
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
}

.hotel-search .search:hover {
	background-color: #669ec0;
}

.hotel-search .search:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.hotel-search .title-3:hover {
	background-color: #604e43;
}

.hotel-search .title-3:active {
	background-color: #503e33;
	color: #857871;
}

.modal-date {
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 86px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.modal-date.state-open {
    height: 385px;
    visibility: visible;
    opacity: 1;
}

.date {
	position: absolute;
	margin-bottom: auto;
	top: 0;
	padding: 55px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
}

.date-check {
	margin-bottom: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date-placeholder {
	position: relative;
}

.calendar {
	background: none;
	box-shadow: none;
	border: none;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.date input {
    font: inherit;
	background-color: #f2f2f2;
}

.date input[type="text"] {
	height: 38px;
	border: none;
}

.date input::placeholder {
	color: #000000;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
}

.date input:hover {
	background-color: #ebebeb;
}

.date input:focus {
	background-color: #ffffff;
}

.date #date-checkin, .date #date-checkout {
	width: 330px;
	padding-left: 14px;
	padding-right: 38px;
}

.date p {
	color: #000000;
}

.number {
	margin-bottom: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.number .adults, .number .children {
	font: inherit;
	width: 36px;
	text-align: center;
}

.number button {
	color: #a9a9a9;
}

/* ===== MAIN = Hotels ===== */
.filter {
	display: flex;
	flex-wrap: wrap;
	padding: 25px 70px 0;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	width: 254px;
	border: none;
}

.filters {
	width: 1200px;
	min-height: 217px;
	background-color: #669ec0;
	background-image: url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	
	color: #ffffff;
}

.filter-list {
	margin: 0;
	position: relative;
	list-style: none;
}

.filters li {
	margin-bottom: 24px;
}

.filters legend {
	margin-bottom: 28px;
	font-size: 16px;
	font-weight: bold;
}

.results-header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
	padding: 0 70px;
}

.results-header li {
	list-style: none;
}

.results-header .arrows {
	padding-left: 0;
	display: flex;
}

.arrows .arrow-btn img {
	opacity: 0.3;
	cursor: pointer;
}

.arrows .arrow-btn img:hover {
	opacity: 1;
}

.results-sort-variants {
	display: flex;
    width: 816px;
    vertical-align: bottom;
    padding-top: 5px;
}

.results-sort-variants .sort-btn {
	font-size: 12px;
    line-height: 18px;
	color: #b1b1b1;
	border-bottom: 1px dotted #81b3d2;
}

.results-sort-variants .sort-btn:hover {
	color: #81b3d2;
}

.results-sort-variants .sort-btn:active {
	color: #000000;
}

.results-sort-variants .pushed {
	border: none;
	color: #81b3d2;
}

.results-header .results-number {
	font-size: 21px;
	font-weight: bold;
}

.results-header .results-sort {
	font-size: 12px;
	line-height: 18px;
}

.results-header button {
	font-size: 12px;
	line-height: 18px;
}

.results-main li {
	list-style: none;
}

.hotels-list {
	display: flex;
    flex-direction: column;
    padding: 0;
}

.hotel-item {
	display: flex;
	border-top: 1px solid #e5e5e5;
    padding: 20px 70px 30px;
}

.hotel-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hotel-item-image {
	width: 165px;
	padding-top: 5px;
}

.hotel-item-column-main {
	flex-grow: 1;
	min-width: 300px;
}

.hotel-item-card h3 {
	text-align: left;
	margin-top: 0;
	margin-bottom: 8px;
}

.hotel-item-card .hotel-item-card-link:hover {
	color: #81b3d2;
}

.hotel-item-card .hotel-item-card-link:active {
	color: #b1b1b1;
}

.hotel-item-card-columns {
	display: flex;
	flex-wrap: wrap;
}

.hotel-item-card-column-1, .hotel-item-card-column-2 {
	display: flex;
	flex-direction: column;
	flex-basis: 110px;
	padding-right: 7px;
}

.hotel-item-card-column-2 {
	flex-basis: 145px;
}

.hotel-item-card-column-1 span, .hotel-item-card-column-2 span {
	margin-bottom: 15px;
}

.hotel-item-rating {
	min-width: 110px;
	text-align: right;
}

.hotel-item-rating ul {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 40px;
}

.hotel-item-rating ul li {
	margin-left: 4px;
}

.site-navigation .site-navigation-current a {
	color: #766357;
}

/* ===== FOOTER ===== */
.main-footer {
	min-height: 120px;
	display: flex;
	width: 1200px;
	justify-content: space-between;
	align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.main-footer.negative-margin {
    margin-top: -120px;
    position: relative;
}

.footer-hashtag {
	margin-left: 130px;
}

.footer-copyright {
	margin-right: 100px;
}

.main-footer img {
	vertical-align: middle;
}

.footer-social {
	list-style: none;
	display: flex;
	padding-left: 0;
}

.footer-social li {
	margin-left: 6px;
}

.footer-social li a {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
}

.footer-social li:first-child {
	margin-left: 0;
}

.footer-social li a:hover {
	background-color: #669ec0;
}

.footer-social li a:active {
	background-color: #5496bd;
} /* ===== И цвет самой иконки меняется. Как? Opacity? ===== */

.footer-copyright .by {
	margin-right: 10px;
}